doctype html
html(ng-app='clientApp', manifest='cache.manifest')
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(res='stylesheet', href='css/style.css')
  body
    block content
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/angular.min.js')
    script(src='js/angular-route.min.js')
    script(src='js/client.js')
